/*Selector universal*/
*{
    padding: 0 auto;
    margin: 0 auto;
}


/*Selecetor de id*/

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: rgb(230,200,149);
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera{
    height: 15%;
    background-color: rgb(230,200,149);
}

#barrNav{
    height: 5%;
    background-color: rgb(171,161,134);
}

#seccion{
    height: 70%;
    width: 64%;
    background-color: rgb(151,158,54);
    float: left;
}

#aside{
    height: 70%;
    width: 34%;
    background-color: rgb(190,193,79);
    float: right;
}

#piePagina{
    height: 10%;
    background-color: rgb(230,200,149);
}

/*Selector de clase*/

.cabe{
    /*padding-left: 40%;*/
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
}

.barr{
    padding-top: 15px;
}

.pie{
    text-align: center;
}

.texto{
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    color: #E4F0F0;
    font-size: 20px;
}

.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titulo{
    padding-top: 30px;
    padding-left: 20px;
    font-size: xx-large;
}

.subtitulo{
    padding-top: 35px;
    color: #E4F0F0;
    padding-left: 20px;
}

.lista1{
    display: inline;
    margin: 50px;
}

/*Selector de etiqueta*/

ul{
    text-align: center;
}

li{
    margin: 20px;
    text-align: justify;
}

li a{
    color: white;
    text-decoration: none;
    
}

li a:hover{
    background-color: chocolate;
}

img{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

h4{
    padding-top: 50px;
    padding-bottom: 5px;
    color: chocolate;
}